.img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

li {
  list-style: none;
}

.ityped-cursor {
  font-size: 2.2rem;
  opacity: 1;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}